
body
{
	line-height: 1.6em;
}

input[type="text"]
{
    width: 300px;
}

table th
{
	padding: 12px 17px 12px 17px;
	font-weight: bold;
	font-size: 18px;
	color: #039;
	border-bottom: 1px solid #69c;
}

table td
{
	padding: 1px 17px 1px 17px;
	color: #039;
}

table tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}

