<div align="right">
    <form name="urlForm" ng-controller="NewUrlCtrl" ng-submit="submit()">
        Add new URL: <input type="url" name="input" ng-model="newurl" required>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped"><th>ID</th><th>Job</th><th>Status</th>
        <tr ng-repeat="job in jobs | orderBy:jobId:true">
            <td> {{job.jobId}} </td>
            <td><a href="#/jobs/{{job.jobId}}">{{job.name}}</a></td>
            <td> {{job.status}} </td>
        </tr>
    </table>
</div>

<div align="center">
    <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
</div>
